body, html {
  background-color: #3F524E;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.nameModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%; }
  .nameModal .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .nameModal .inner .popup {
      background-color: #4F7560;
      border-radius: 15px;
      width: 400px;
      height: 300px;
      padding: 30px; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif; }

.topPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: #3F524E;
  color: #F1F5F0;
  margin-top: 25px; }
  .topPage .header {
    font-family: "Cute Font", cursive;
    font-size: 75px; }
  .topPage .basic {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px; }
  .topPage .selectCourseBox {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .topPage .selectCourseBox .selectText {
      text-align: center; }
    .topPage .selectCourseBox .courseBox {
      display: flex;
      justify-content: space-evenly; }
    .topPage .selectCourseBox .coursesList {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid #24373F;
      padding: 20px;
      background-color: #F1F5F0; }
      .topPage .selectCourseBox .coursesList .courseImage {
        width: 200px;
        height: 200px; }

.demo-card-wide.mdl-card {
  width: 1000px; }

.courseBtn {
  margnin-top: 15px; }

.courseBtn:hover {
  background-color: #B6D9B9; }

.teeBtn:hover {
  background-color: #B6D9B9; }

.courseCard {
  display: flex;
  justify-content: center;
  background-color: #F1F5F0;
  border: 3px solid #3F524E;
  width: 1200px; }
  .courseCard #courseName {
    width: 100%; }

.courseInfoBox {
  display: flex; }
  .courseInfoBox .columns {
    border: 1px solid #24373F;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .courseInfoBox .totalColumn {
    border: 1px solid #24373F;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; }

.leftBox {
  align-items: flex-end; }

.holeRow {
  margin-bottom: 5px; }

.holeStyle {
  color: deeppink;
  font-weight: bold; }

.parStyle {
  color: orangered; }

.yardsStyle {
  color: blue; }

.hcpStyle {
  color: rebeccapurple; }

.scoreInputBox {
  width: 25px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }
