body {
  background-color: #3F524E; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.mainImage {
  width: 100%;
  height: 400px; }

.demo-card-wide.mdl-card {
  width: 1000px; }

.courseBtn:hover {
  background-color: #B6D9B9; }

.courseCard {
  display: flex;
  justify-content: center;
  background-color: #F1F5F0; }

.courseInfoBox {
  display: flex; }

.columns {
  border: 1px solid #24373F;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.holeRow {
  margin-bottom: 5px; }

.holeStyle {
  color: deeppink;
  font-weight: bold; }

.parStyle {
  color: orangered; }

.yardsStyle {
  color: blue; }

.hcpStyle {
  color: rebeccapurple; }

.scoreInputBox {
  width: 25px; }
