$greywhite: #F1F5F0;
$lightgreen: #B6D9B9;
$medgreen: #4F7560;
$darkgreen: #3F524E;
$darkblue: #24373F;

@mixin columnStyle {
  border: 1px solid $darkblue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $darkgreen;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainImage {
  width: 100%;
  height: 400px;
}
.demo-card-wide.mdl-card {
  width: 1000px;
}
//.coursesList {
//  position: relative;
//  text-align: center;
//}
.courseBtn {
  //position: absolute;
  //width: 100px;
  //height: 50px;
  //border-radius: 15px;
  //background-color: $greywhite;
}
.courseBtn:hover {
  background-color: $lightgreen;
}



.courseCard {
  //padding: 20px;
  display: flex;
  justify-content: center;
  background-color: $greywhite;

}
.courseInfoBox {
  display: flex;

  .columns {
    @include columnStyle;
  }

  .totalColumn {
    @include columnStyle;
  }
}

.leftBox{
  align-items: flex-end;
}

.holeRow {
  margin-bottom: 5px;
}

.holeStyle {
  color: deeppink;
  font-weight: bold;
}
.parStyle {
  color: orangered;
}
.yardsStyle{
  color: blue;
}
.hcpStyle{
  color: rebeccapurple;
}

.scoreInputBox {
  width: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}