$greywhite: #F1F5F0;
$lightgreen: #B6D9B9;
$medgreen: #4F7560;
$darkgreen: #3F524E;
$darkblue: #24373F;

$mainfont: 'Roboto', sans-serif;
$accentfont: 'Cute Font', cursive;

@mixin columnStyle {
  border: 1px solid $darkblue;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, html {
  background-color: $darkgreen;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

}
.nameModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;

  .inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup {
      background-color: $medgreen;
      border-radius: 15px;
      width: 400px;
      height: 300px;
      padding: 30px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  font-family: $mainfont;
  font-size: 15px;
  align-items: center;

}
.topPage{
  display: flex;
  justify-content: center;
  flex-direction: column;
  //align-items: center;
  width: 100%;
  height: 500px;
  background-color: $darkgreen;
  color: $greywhite;
  margin-top: 25px;


  .mainImage {
    //width: 100%;
    //height: 400px;
  }
  .header {
    font-family: $accentfont;
    font-size: 75px;

  }
  .basic {
    display: flex;
    justify-content: center;
    align-items: center;
    //flex-direction: row;
    margin-bottom: 40px;
  }
  .selectCourseBox {
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;

    .selectText {
      text-align: center;
    }

    .courseBox {
      display: flex;
      justify-content: space-evenly;
    }


    .coursesList {
      display: flex;
      justify-content: center;
      flex-direction: column;
      border: 1px solid $darkblue;
      padding: 20px;
      background-color: $greywhite;



      .courseImage{
        width: 200px;
        height: 200px;
      }
    }
  }
}

.demo-card-wide.mdl-card {
  //width: 1000px;
}
//.coursesList {
//  position: relative;
//  text-align: center;
//}
.courseBtn {
  //position: absolute;
  //width: 100px;
  //height: 50px;
  //border-radius: 15px;
  //background-color: $greywhite;
  //margin-top: 15px;
}
.courseBtn:hover {
  background-color: $lightgreen;
}
.teeBtn {
  margin-top: 3px;
}
.teeBtn:hover {
  background-color: $lightgreen;
}
.teeBtn:focus {
  background-color: $lightgreen;
}


.courseCard {
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  background-color: $greywhite;
  border: 3px solid $darkgreen;
  width: 1200px;

  #courseName {
    width: 100%
  }

  .infoBox {
    //display: flex;
    //justify-content: center;
    margin-right: 30px;
  }
}
.courseInfoBox {
  display: flex;

  .columns {
    @include columnStyle;
  }

  .totalColumn {
    @include columnStyle;
  }
}

.leftBox{
  align-items: flex-end;
}

.holeRow {
  margin-bottom: 5px;
}

.holeStyle {
  color: deeppink;
  font-weight: bold;

}
.parStyle {
  color: orangered;
}
.yardsStyle{
  color: blue;
}
.hcpStyle{
  color: rebeccapurple;
}

.scoreInputBox {
  width: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}